1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [1]:
# Input list
input_list = [12, 23, 4, 56, 77, -89, 7, 90, 90, -87, -99]

# Create a new list with only positive elements
positive_numbers = [num for num in input_list if num > 0]

# Print the result
print("Positive numbers:", positive_numbers)

Positive numbers: [12, 23, 4, 56, 77, 7, 90, 90]

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [2]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# Add 7000 after 6000 in the nested list
list1[2][2].append(7000)

# Print the result
print("Updated list:", list1)

Updated list: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [3]:
# Original list
list1 = [5, 10, 15, 20, 25, 50, 20]

# Find the first occurrence of 20 and replace it with 200
if 20 in list1:
    list1[list1.index(20)] = 200

# Print the result
print("Updated list:", list1)

Updated list: [5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [4]:
# Original list
list1 = [5, 20, 15, 20, 25, 50, 20]

# Remove all occurrences of 20
list1 = [item for item in list1 if item != 20]

# Print the result
print("Updated list:", list1)

Updated list: [5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [5]:
# Given lists
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

# Concatenate lists in the specified order
result = [item1 + item2 for item1 in list1 for item2 in list2]

# Print the result
print("Concatenated list:", result)

Concatenated list: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']