Problem 1: Print the first 10 natural numbers using a for loop.

In [1]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Problem 2: Python program to print all the even numbers within the given range (0 to 100).

In [6]:
for i in range(0, 101):

    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Problem 3: Python program to calculate the sum of all numbers from 1 to a given number (15).

In [7]:
n = 15

total_sum = 0

for i in range(1, n + 1):
    total_sum += i

print(total_sum)

120

Problem 4: Python program to calculate the sum of all the odd numbers within the given range (10).

In [8]:
n = 10
odd_sum = 0
for i in range(1, n + 1):
    if i % 2 != 0:
        odd_sum += i
print(odd_sum)

25

Problem 5: Python program to print a multiplication table of a given number (5).

In [9]:

n = 5

for i in range(1, 11):

    print(n, "x", i, "=", n * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50