Problem 1: Summing Numbers in a List

In [19]:
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

sample_list = (8, 2, 3, 0, 7)
result = sum_list(sample_list)
print(result)

20

Problem 2: Multiplying Numbers in a List

In [18]:
def multiply_list(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

sample_list = (8, 2, 3, -1, 7)
result = multiply_list(sample_list)
print(result)

-336

Problem 3: Reversing a String

In [17]:
def reverse_string(s):
    return s[::-1]

sample_string = "1234abcd"
reversed_string = reverse_string(sample_string)
print(reversed_string)

dcba4321

Problem 4: Calculating Factorial

In [16]:
def factorial(n):
    if n == 0:
        return 1
    else:
        fact = 1
        for i in range(1, n + 1):
            fact *= i
        return fact

number = 5
result = factorial(number)
print(result)

120

Problem 5: Checking Number in a Range

In [15]:
def is_in_range(number, start, end):
    if start <= number <= end:
        return True
    else:
        return False

number = 25
start_range = 10
end_range = 50
result = is_in_range(number, start_range, end_range)
print(result)

True